{% extends "base.html" %}

{% block content %}

    
    <div style="width:50%; margin:auto; margin-top:100px">
        <h4>About My IT Center : </h4>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem distinctio possimus, fugiat unde ea minima cupiditate, sint omnis officiis, veniam ratione expedita voluptatibus culpa nesciunt cumque error sed laboriosam quasi velit recusandae quibusdam incidunt autem. Dolores veniam iusto itaque, voluptatibus omnis, accusantium molestias beatae hic consectetur totam blanditiis doloremque ea. Doloremque perspiciatis quia veniam saepe accusamus voluptates delectus animi nemo labore voluptas porro voluptatum iusto reprehenderit, repellat officia aperiam quod id. Itaque dolor quas ea laudantium suscipit, voluptatibus debitis quos expedita accusamus veniam nam eveniet eaque officia reiciendis, inventore impedit aliquid necessitatibus, fugit nobis fuga beatae! Sed optio vitae beatae.</p>
    </div>

{% endblock content %}