{% extends "base.html" %}

{% block content %}

{% if messages %}
  {% for message in messages %}
  <div class="alert bg-warning mx-auto mt-4" role="alert" style="width:50%;">
    <button type="button" class="border border-warning rounded btn-close btn-close-dark me-2 m-auto" data-bs-dismiss="alert" aria-label="Close"></button>

      <div class="text-center">{{message}}</div>
  </div>
  {% endfor %}
{% endif %}
    
    <div style="width:50%; margin:auto; margin-top:260px" class="d-flex gap-5">
        <button class="btn btn-primary"><a href="{% url "passchange" %}" class="text-white text-decoration-none">Change Password With Old Password</a></button>
        <button class="btn btn-primary"><a href="{% url "passchange2" %}" class="text-white text-decoration-none">Change Password Without Old Password</a></button>
    </div>

{% endblock content %}